
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Font.css" rel="stylesheet" />

<style>
  body{
    font-family:IPAMincho
  }

</style>
<h2>Font</h2>

<h1>
  ABCDEFGHIJKLMNOPQRS
  abcdefghijklmnopqrs
  あいうれおかきくけこ
  
</h1>
