
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Font.css" rel="stylesheet" />

<style>
  body {
    font-family: @(ViewBag.FontName == null ? "IPAg thin" : $"{ViewBag.FontName}")
  }

</style>
<h2>Font</h2>
@Html.ActionLink(linkText: "IPA明朝", actionName: null, routeValues: new { id = "IPAm thin" }, htmlAttributes: null)
@Html.ActionLink(linkText: "IPAゴシック", actionName: null, routeValues: new { id = "IPAg thin" },htmlAttributes:null)

<h1>
  ABCDEFGHIJKLMNOPQRST<br />
  abcdefghijklmnopqrst<br />
  12345678901234567890<br />
  !"#$%&'()=-~^|\`{}[]<br />
  あいうれおかきくけこ<br />
  亜衣兎絵御火来句毛来<br />
</h1>
<h2>
  ABCDEFGHIJKLMNOPQRST<br />
  abcdefghijklmnopqrst<br />
  12345678901234567890<br />
  !"#$%&'()=-~^|\`{}[]<br />
  あいうれおかきくけこ<br />
  亜衣兎絵御火来句毛来<br />
</h2>
<h3>
  ABCDEFGHIJKLMNOPQRST<br />
  abcdefghijklmnopqrst<br />
  12345678901234567890<br />
  !"#$%&'()=-~^|\`{}[]<br />
  あいうれおかきくけこ<br />
  亜衣兎絵御火来句毛来<br />
</h3>

  ABCDEFGHIJKLMNOPQRST<br />
  abcdefghijklmnopqrst<br />
  12345678901234567890<br />
  !"#$%&'()=-~^|\`{}[]<br />
  あいうれおかきくけこ<br />
  亜衣兎絵御火来句毛来<br />

